# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Code.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\alex-\OneDrive\Escritorio\Ejemplos Unity\Damped\Assets\DampedSpringMotionCopier\Code\.idea\.idea.Code.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
