# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Damped.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\alex-\OneDrive\Escritorio\Ejemplos Unity\Damped\.idea\.idea.Damped\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
